.container {
    text-align: center;
    margin: 30px auto;
}

#timer {
    font-size: 300%;
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.btn {
    width: 80%;
}